@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* Noto Serif Font */

/* Inter font styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Noto Serif Font styles */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.sec-m {
    max-width: 1140px;
    margin: 0 auto;
}
.excep-text {
    color: #E95A08;
}

/* shared styles End */

/* nav-bar styles */
.nav-bar {
    margin-top: 30px;
    margin-bottom: 100px;
}
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 48px;
    list-style: none;    
}
.nav-links a {
    text-decoration: none;
    gap: 20px;
}
.nav-link1 {
    font-weight: 700;
    color: #252432;
}
.nav-link2, .nav-link3 {
    color: #8987A1;
}
.cart-price {
    line-height: 16px;
    color: #000000;
}
.cart-price i {
    font-size: 1.25rem;
    font-weight: 500;
}
/* nav-bar styles End */

/* banner section styles */
.banner {
    display: flex;
    align-items: end;
    height: 461px;
    margin-bottom: 141px;

}
.banner-content, .banner-image {
    max-width: 570px;
}
.banner-title {
    font-family: "Noto Serif", serif;
    font-size: 4.06rem;
    font-weight: 700;
    margin: 0;
}
.banner-description {
    font-family: "Inter", sans-serif;
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}
.banner-image img {
    width: 100%;
}
/* banner section styles End */

/* plants section styles */

.plants-content {
    text-align: center;
}
.plants-titile {
    font-family: "Noto Serif", serif;
    font-size: 3.12rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
}
.plants-sub-text {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}
.plant-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 49px;
}
.plant-card {
    max-height: 484px;
    max-width: 270px;
}
.plant-card img {
    width: 100%;
}
.card-title {
    font-size: 1.37rem;
    text-align: center;
    font-weight: 500;
    color: #111111;
    margin: 0;
    margin-top: 20px;
}
.card-price {
    font-size: 1.37rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-top: 5px;
    line-height: 125%;
}
.add-btn {
    font-weight: 600;
    width: 100%;
    padding-top: 19px;
    color: white;
    padding-bottom: 19px;
    background-color: #E95A08;
    border: none;
    margin-top: 25px;
    cursor: pointer;
}
/* plants section styles End */

/* flowers section style */
.flowers {
    margin: 210px auto 134px auto;
}
.flower-items {
    display: flex;
    align-items: center;
    column-gap: 60px;    
}
.flower-image {
    position: relative;
    width: 540px;
    height: 597px;
    
}
.flower-image img {
    width: 100%;
    height: 100%;
}
.flower-content {
    max-width: 540px;
}
.flower-titile {
    font-family: "Noto Serif", serif;
    font-size: 3.125rem;
    font-weight: 700;
    margin: 0;
}
.flower-content ul li {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;

}
.flower-image .trust-badge {
    position: absolute;
    height: 286px;
    width: 286px;
    top: -125px;
    right: -90px;
}


/* flowers section style End */



/* Media Query for x-small devices */
@media screen and (max-width:572px) {
    .nav-items {
        margin: 0 5px;
    }
    .nav-link1, .nav-link2, .nav-link3 {
        display: none;
    }
    .banner {
        flex-direction: column-reverse;
        height: auto;
    }
    .banner-title {
        font-size: 1.5rem;
        margin: 0 16px;
        margin-top: 28px;
    }
    .banner-description {
        font-size: 0.875rem;
        margin: 0 16px;
    }
    .plant-cards {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 14px;
        margin-top: 28px;
    }
    .flower-items {
        flex-direction: column;
        margin: 0 10px;
    }
    .flower-image {
        width: auto;
        height: auto;
    }
    .flower-image img {
        width: 100%;
    }
    .flower-image .trust-badge {
        display: none;
    }
    .flower-titile{
        font-size: 1.5rem;
        margin-top: 18px;
    }
    .flower-content ul li {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
    }
}